* { 
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
}
/* Rules for small screens*/
#page-wrapper {
    display: grid;
    grid-template-rows: auto 40px auto 80px;
    grid-row-gap: 1em; 
}

#page-header, #page-footer {
    background-color: cornflowerblue;
    color: azure;
    text-align: center;
}

#site-nav {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

article img {
    width: 100%;
}

/* Rules for Medium Screens */
@media (min-width: 600px) {
    #blog-content, #page-content {
        display: grid;
        grid-template-columns: 2fr, 1fr;
    }
    article, .blog-entries {
        grid-column: 1/3;
    }
    aside, .blog-sidebar {
        grid-column: 3/4;
    }
    #blog-entries {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}
@media (min-width: 600px) and (max-width: 900px) {

}

/* Rules for large screens*/
@media (min-width:901px) {

}